[submodule "acados"]
	path = acados
	url = https://github.com/StanfordMSL/acados.git
[submodule "Hierarchical-Localization"]
	path = Hierarchical-Localization
	url = https://github.com/cvg/Hierarchical-Localization.git
